.spaceRound {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.highMargin {
    margin-top: 25px;
}

.error {
    margin-top: 5px;
    color: red;
}


@media screen and (max-width: 770px) {
    .marginBottom h1 {
        margin-bottom: 60px;
    }
}