.container {
    width: 100%;
    padding: 20px 1.5% ;
}

.room_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 1.5% 50px;
}

.room_left {
    flex-basis: 70%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header h1 {
    font-size: 28px;
}

.free {
    background: green;
    color: white;
    padding: 3px 16px;
    border-radius: 6px;
}

.location {
    margin-bottom: 10px;
    gap: 1%;   
    display: flex;
    align-items: center;
}

.location span {
    gap: 10px;   
    display: flex;
    align-items: center;
    color: gray;
    text-transform: uppercase;
}

.roomDesc {
    padding-top: 10px;
    color: rgb(70, 69, 69);
    margin-bottom: 10px;
}

    /*---image---*/
.room_images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 30px;
}

.room_image {
    flex-basis: 32%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.room-item {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}


    /*-------- room-description --------*/
    
.room_description h2:first-child {
    margin-bottom: 10px;
}

.room_description p {
    color: rgb(75, 74, 74);
}

.contents h2 {
    margin-bottom: 10px;
}

.content ul li {
    color: rgb(75, 74, 74);
}


    /*--------right-------*/
.room_right {
    flex-basis: 26%;
}

.right h2 {
    font-size: 18px;
    font-weight: lighter;
}

.rightHeader {
    padding-bottom: 20px;
}

.lessonMain {
    margin-top: 20px;
    border: 1px solid rgb(196, 196, 196);
    padding: 2.4% 2%;
    border-radius: 5px;
    background: rgb(226, 226, 226);
}

.lesson {
    display: flex;
    gap: 6px;
}

.room_profile {
    background: rgb(1, 113, 111);
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.details p {
    line-height: 12px;
    font-size: 14px;
}

.details span {
    font-size: 13px;
    color: gray;
    line-height: 0;
}

.info {
    padding-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.753);
}

.contents {
    padding-top: 50px;
}

.contents ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8%;
    white-space: nowrap;
    margin: 8px 0;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: gray;
    margin-bottom: 70px;
}

.room_description h2, .contents h2 {
    color: rgb(29, 28, 28);
    font-weight: normal;
}











@media screen and (max-width: 510px){
    .header h1 {
        font-size: 24px;
    }

    .header {
        margin-bottom: 8px;
    }
}






@media screen and (max-width: 770px){
    .room_wrapper {
        flex-direction: column;
    }

    .room_left {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .header h1 {
        font-size: 29px;
    }

    .room_right {
        flex-basis: 100%;
    }

    .roomDesc {
        padding-bottom: 5px;
    }

    .room_images {
        margin-bottom: 20px;
    }

    .room_image {
        flex-basis: 48%;
        margin-bottom: 4%;
    }

    .free {
        padding: 7px 14px;
        font-size: 16px;
    }

    .room_description p {
        color: gray;
    }

    .contents {
        margin-bottom: 50px;
    }

    .roomImage_Cont {
        width: 100%;
        padding-top: 15px;
    }

    .roomImage_Cont img {
        width: 100%;
        aspect-ratio: 1/0.7;
        border-radius: 5px;
    }
}