.passwordContainer {
    width: 100%;
    min-height: calc(100vh - 60px);
}

.password_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

}

.passwordBody {
    width: 40%;
}

.paswword_Item {
    width: 100%;
    padding-bottom: 20px;
}

.paswword_Item p {
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 500;
}

.paswword_Item span {
    font-size: 15px;
    color: red;
}

.paswword_Item input {
    width: 100%;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;

    -webkit-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
}

.pasowrdUpdate_Button {
    padding: 20px 0 5px;
}

.pasowrdUpdate_Button button {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: 500;
    border: none;
    padding: 8px;
    font-size: 17px;
}

.succesfully {
    color: green;
}





@media screen and (max-width: 770px) {
    .passwordContainer {
        width: 100%;
        min-height: calc(100vh - 110px);
    }

    .passwordBody {
        width: 100%;
    }

    .paswword_Item {
        width: 100%;
        padding-bottom: 30px;
    }

    .paswword_Item p {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 400;
    }

    .paswword_Item input {
        padding: 8px;
        font-size: 16px;
    }
}